---
import Cards from "../components/Cards.astro";
import RoundImg from "../components/RoundImg.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Mi linktree!">
	<main class="flex flex-col items-center">
		<RoundImg />
		<div class="text-center">
			<a
				href="https://github.com/alesguga"
				target="_blank"
				rel="noopener"
				class="text-xl font-semibold mt-2 text-white"
			>
				@alesguga
			</a>
			<h1
				class="text-4xl mt-3 font-bold  hover:scale-110 transition bg-[radial-gradient(ellipse_at_top_right,_var(--tw-gradient-stops))] from-indigo-500 via-red-500 to-blue-500 text-transparent bg-clip-text"
			>
				Encuentrame aqui!
			</h1>
		</div>
		<div class="max-w-4xl w-full md:w-[28rem] lg:w-[32rem] xl:w-[32rem] mx-auto mt-5">
			<Cards />
		</div>
		
	</main>
</Layout>
