---
import '@fontsource-variable/orbitron';

const cardItems = [
    {
        title: "GitHub",
        url: "https://github.com/alesguga"
    },
    {
        title: "Mi Portfolio",
        url: "https://gutigut.com"
    },
    {
        title: "LinkedIn",
        url: "https://gutigut.com"
    },
    {
        title: "Instagram",
        url: "https://gutigut.com"
    },
    {
        title: "Twitter",
        url: "https://gutigut.com"
    },
]
---

{
    cardItems.map((link) => (
        <div class="bg-slate-300 shadow-md  rounded-md text-center my-5  hover:scale-105 hover:shadow-lg duration-150 transition p-3 ">
            <a class="text-lg text-black" target="_blank" rel="noopener" href={link.url}>{link.title}</a>
        </div> 
    ))
}
