---
import Instagram from '../components/icons/Instagram.astro';
import { Novatrix } from "uvcanvas"

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class=" min-h-screen ">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/loguito.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="flex flex-col justify-center items-center cursor-[url('/Png.png'),auto]" >

		<slot />
	  </body>
	  
</html>
<style>
	html {
		background-image: url('/hola.svg');
		background-repeat: no-repeat;
		background-size: cover;
	}

</style>